{% extends 'App/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<section class="main-content">
    <div class="container">
        <div class="col-sm-6 offset-sm-3">
            <div class="post-block">
                <h3>Resetowanie hasła zakończone</h3>
                <p>Twoje hasło zostało zmienione. Możesz się teraz zalogować.</p>
                <a href="{% url 'login' %}"><p> Zaloguj się</p></a>
            </div>
        </div>
    </div>
</section>
                


{% endblock %}