{% extends 'App/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<section class="main-content">
    <div class="container">
        <div class="col-sm-6 offset-sm-3">
            <div class="post-block">
                <h3>Potwierdzenie zresetowania hasła zostało wysłane</h3>
                <p>Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się pojawić na twoim koncie pocztowym.
                    W przypadku nieotrzymania wiadomości e-mail: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.</p>
            </div>
        </div>
    </div>
</section>
                


{% endblock %}