{% extends 'App/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<section class="main-content">
    <div class="container">
        <div class="col-sm-6 offset-sm-3">
            <div class="post-block">
                <h3>Zresetuj hasło</h3>
                <p>Nie pamiętasz swojego hasła?
                Wprowadź w poniższym polu swój adres e-mail, a wyślemy ci instrukcję opisującą sposób ustawienia nowego hasła.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-dark " data-mdb-ripple-color="dark" >Resetuj</button>
                </form>
            </div>
        </div>
    </div>
</section>
                


{% endblock %}